.barraLateral {
    top: 0;
    left: 0; 
    width: 100px; 
}

header {
    height: 70px;
}

.usuarioOp {
    gap: 15px;
    padding: 10px 40px;
}

.usuarioOp a, .usuarioOp p {
    padding: 10px 0;
    color: var(--color2);
}

.usuarioOp img {
    height: 40px;
    border-radius: 1.5rem;
}

.fixed {
    background-color: var(--color7); 
    position: fixed;
}

table {
    border-collapse: separate;
    width: 100%;
    align-content: center;
    color: white;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;

}

th {
    background-color: #0077ffd0;
}

/* Estilo para la tabla */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    margin-left: 10%;
    margin-top: 2%;
    background-color: var(--color-fondo);
    border: 1px solid var(--color-borde);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para las celdas de la tabla */
table, th, td {
    border: 1px solid var(--color-borde);
    padding: 12px;
    text-align: left;
}

/* Estilo para los encabezados de columna */
th {
    background-color: var(--color-boton);
    color: white;
}

/* Estilo para las filas alternas */
tr:nth-child(even) {
    background-color: var(--color-fila1);
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
    background-color: var(--color-fila2);
}