.beautiful-button {
  /*hoja de vida*/
  position: absolute;
  display: inline-block;
  background: linear-gradient(to bottom, #1e3188, #4F648B);
  /*--color9: #4F648B;
  --color10:#1e3188;*/
  text-decoration: none; 
  line-height: 70px; 
  width: 20%;
  height: 10%;
  text-align: center;
  top: 70%;
  right:70%;
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
}

/* Hover animation */
.beautiful-button:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
  color:#49C2F2;
}




.beautiful-button1 {
  /*Plan de acción*/
  position: absolute;
  display: inline-block;
  background: linear-gradient(to bottom, #1e3188, #4F648B);
  width: 20%;
  height: 10%;
  text-align: center;
  top: 70%;
  right:48%;
  text-decoration: none; 
  line-height: 70px;

  color: white;
 /* White text color */
  font-family: "Segoe UI", sans-serif;
 /* Stylish and legible font */
  font-weight: bold;
  font-size: 18px;
 /* Large font size */
  border: none;
 /* No border */
  border-radius: 30px;
 /* Rounded corners 
  padding: 14px 28px;
  Large padding */
  cursor: pointer;
 /* Cursor on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 /* Subtle shadow */
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
 /* Smooth transition */
}

/* Hover animation */
.beautiful-button1:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
  color:#49C2F2;
}



.beautiful-button2 {
  /*evaluacion al docente*/
  position: absolute;
  display: inline-block;
  background: linear-gradient(to bottom, #1e3188, #4F648B);
  width: 20%;
  height: 10%;
  text-align: center;
  top: 70%;
  right:26%;
  text-decoration: none; 
  line-height: 70px; 
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
 
}

.beautiful-button2:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
  color:#49C2F2;
}

.beautiful-button3 {
  /*informe de resultados*/
  position: absolute;
  display: inline-block;
  background: linear-gradient(to bottom, #1e3188, #4F648B);
  background: linear-gradient(to bottom, #1e3188, #4F648B);
  width: 20%;
  height: 10%;
  text-align: center;
  top: 50%;
  right:70%;
  text-decoration: none; 
  line-height: 70px; 
  color: white;
 /* White text color */
  font-family: "Segoe UI", sans-serif;
 /* Stylish and legible font */
  font-weight: bold;
  font-size: 18px;
 /* Large font size */
  border: none;
 /* No border */
  border-radius: 30px;
  /* Rounded corners 
  padding: 14px 28px;
  Large padding */
  cursor: pointer;
 /* Cursor on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 /* Subtle shadow */
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
 /* Smooth transition */
}

/* Hover animation */
.beautiful-button3:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
  color:#49C2F2;
}

.beautiful-button4 {
  /*formato de canalizacion*/
  position: absolute;
  display: inline-block; 
  background: linear-gradient(to bottom, #1e3188, #4F648B);
  width: 20%;
  height: 10%;
  text-align: center;
  top: 50%;
  right:48%;
  text-decoration: none; 
  line-height: 70px; 
  color: white;
 /* White text color */
  font-family: "Segoe UI", sans-serif;
 /* Stylish and legible font */
  font-weight: bold;
  font-size: 18px;
 /* Large font size */
  border: none;
 /* No border */
  border-radius: 30px;
  /* Rounded corners 
  padding: 14px 28px;
  Large padding */
  cursor: pointer;
 /* Cursor on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 /* Subtle shadow */
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
 /* Smooth transition */
}

/* Hover animation */
.beautiful-button4:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
  color:#49C2F2;
}

.beautiful-button5 {
  /*evaluacion al alumno*/
  position: absolute;
  display: inline-block;
  background: linear-gradient(to bottom, #1e3188, #4F648B);
  width: 20%;
  height: 10%;
  text-align: center;
  top: 50%;
  right:26%;
  text-decoration: none; 
  line-height: 70px; 
  color: white;
 /* White text color */
  font-family: "Segoe UI", sans-serif;
 /* Stylish and legible font */
  font-weight: bold;
  font-size: 18px;
 /* Large font size */
  border: none;
 /* No border */
  border-radius: 30px;
  /* Rounded corners 
  padding: 14px 28px;
  Large padding */
  cursor: pointer;
 /* Cursor on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 /* Subtle shadow */
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
 /* Smooth transition */
}

/* Hover animation */
.beautiful-button5:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
  color:#49C2F2;
}

.beautiful-button6 {
  /* informe parcial */
  position: absolute;
  display: inline-block; 
  background: linear-gradient(to bottom, #1e3188, #4F648B);
  width: 20%;
  height: 10%;
  text-align: center;
  top: 50%;
  right:4%;
  text-decoration: none; 
  line-height: 70px; 
  color: white;
 /* White text color */
  font-family: "Segoe UI", sans-serif;
 /* Stylish and legible font */
  font-weight: bold;
  font-size: 18px;
 /* Large font size */
  border: none;
 /* No border */
  border-radius: 30px;
  cursor: pointer;
 /* Cursor on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 /* Subtle shadow */
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
 /* Smooth transition */
}

/* Hover animation */
.beautiful-button6:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
  color:#49C2F2;
}

.beautiful-button7 {
  position: absolute;
  display: inline-block;
  background: linear-gradient(to bottom, #1e3188, #4F648B);
  width: 20%;
  height: 10%;
  text-align: center;
  top: 30%;
  right:70%;
  text-decoration: none; 
  line-height: 70px; 
  color: white;
 /* White text color */
  font-family: "Segoe UI", sans-serif;
 /* Stylish and legible font */
  font-weight: bold;
  font-size: 18px;
 /* Large font size */
  border: none;
 /* No border */
  border-radius: 30px;
  /* Rounded corners 
  padding: 14px 28px;
  Large padding */
  cursor: pointer;
 /* Cursor on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 /* Subtle shadow */
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
 /* Smooth transition */
}

/* Hover animation */
.beautiful-button7:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
  color:#49C2F2;
}

.beautiful-button8 {
  position: absolute;
  display: inline-block; /* Usar flexbox */
  background: linear-gradient(to bottom, #1e3188, #4F648B);
  width: 20%;
  height: 10%;
  text-align: center;
  top: 30%;
  right:48%;
  text-decoration: none; 
  line-height: 70px; 
  color: white;
 /* White text color */
  font-family: "Segoe UI", sans-serif;
 /* Stylish and legible font */
  font-weight: bold;
  font-size: 18px;
 /* Large font size */
  border: none;
 /* No border */
  border-radius: 30px;
  /* Rounded corners 
  padding: 14px 28px;
  Large padding */
  cursor: pointer;
 /* Cursor on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 /* Subtle shadow */
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
 /* Smooth transition */
}

/* Hover animation */
.beautiful-button8:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
  color:#49C2F2;
}

.beautiful-button9 {
  position: absolute;
  display: inline-block;
  background: linear-gradient(to bottom, #1e3188, #4F648B);
  width: 20%;
  height: 10%;
  text-align: center;
  top: 30%;
  right:26%;
  text-decoration: none; 
  line-height: 70px; 
 /* Gradient background */
  color: white;
 /* White text color */
  font-family: "Segoe UI", sans-serif;
 /* Stylish and legible font */
  font-weight: bold;
  font-size: 18px;
 /* Large font size */
  border: none;
 /* No border */
  border-radius: 30px;
  /* Rounded corners 
  padding: 14px 28px;
  Large padding */
  cursor: pointer;
 /* Cursor on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 /* Subtle shadow */
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
 /* Smooth transition */
}

/* Hover animation */
.beautiful-button9:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
  color:#49C2F2;
}


.beautiful-button10 {
  position: absolute;
  display: inline-block; /* Usar flexbox */
  background: linear-gradient(to bottom, #1e3188, #4F648B);
  width: 20%;
  height: 10%;
  text-align: center;
  top: 30%;
  right:4%;
  text-decoration: none; 
  line-height: 70px; 
  color: white;
 /* White text color */
  font-family: "Segoe UI", sans-serif;
 /* Stylish and legible font */
  font-weight: bold;
  font-size: 18px;
 /* Large font size */
  border: none;
 /* No border */
  border-radius: 30px;
  /* Rounded corners 
  padding: 14px 28px;
  Large padding */
  cursor: pointer;
 /* Cursor on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 /* Subtle shadow */
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
 /* Smooth transition */
}

/* Hover animation */
.beautiful-button10:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
  color:#49C2F2;
}
