
header{
  z-index: 1;
}

  .boton1 {
    font-size: 17px;
    padding: 1em 1.2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: #1C3089;
    color: white;
    /*border-radius: 4px;*/
    position:fixed;
    top: 100px;
    left: 35px;
    cursor: pointer;
  
   }
   
   .boton1:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #2445D9 0%, #2445D9 100%);
    color: white;
   }
   
   .boton1:active {
    transform: translate(0em, 0.2em);
   }


   .boton2 {
    font-size: 17px;
    padding: 1em 1em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: #1C3089;
    color: white;
    /*border-radius: 4px;*/
    position: fixed;
    top: 170px;
    left: 35px;
    cursor: pointer;
   }
   
   .boton2:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #2445D9 0%, #2445D9 100%);
    color: white;
   }
   
   .boton2:active {
    transform: translate(0em, 0.2em);
   }

   
   .boton3 {
    font-size: 17px;
    padding: 1em 1.2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: #1C3089;
    color: white;
    /*border-radius: 4px;*/
    position: fixed;
    top: 240px;
    left: 35px;
    cursor: pointer;
   }
   
   .boton3:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #2445D9 0%, #2445D9 100%);
    color: white;
   }
   
   .boton3:active {
    transform: translate(0em, 0.2em);
   }

   .boton4 {
    top: 310px;
    left: 35px;
   }

   .boton5 {
    top: 380px;
    left: 35px;
   }
   






/* Estilo para la tabla de botones */
.button-table {
  display: table;
  position: relative;
  top:150px;
  left:250px;
}

/* Estilo para las filas de la tabla */
.button-row {
  display: table-row;
  
}

/* Estilo para las celdas de la tabla */
.button-cell {
  display: table-cell;
  padding: 20px;
}

/* Estilo para los botones */
.custom-button {
  width: 300px;
  height: 80px;

  font-size: 17px;
  padding: 1.5em 2.4em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: #1C3089;
  color: white;
  border-radius: 10px;

  cursor: pointer;
}

.custom-button:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, #2445D9 0%, #2445D9 100%);
 }
 
 .custom-button:active {
  transform: translate(0em, 0.2em);
 }