:root {
    --color-fondo: #f5f5f5;
    --color-borde: #d1d1d1;
    --color-fila1: #ffffff;
    --color-fila2: #f0f0f0;
    --color-texto: #333333;
    --color-boton: #007BFF;
    --color-boton-hover: #0056b3;
}

.barraLateral {
    top: 0;
    left: 0; 
    width: 100px; 
}

header {
    height: 70px;
    position: fixed;
    width: 100%;
    background-color: var(--color7);
    z-index: 1;
}

.usuarioOp {
    gap: 15px;
    padding: 10px 40px;
}

.usuarioOp a, .usuarioOp p {
    padding: 10px 0;
    color: var(--color2);
}

.usuarioOp img {
    height: 40px;
    border-radius: 1.5rem;
}

.fixed {
    background-color: var(--color7); 
    position: fixed;
}

button{
    font-size: 10px;
    padding: 0.3em 1em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: #1E3188;
    color: white;
    border-radius: 8px;
    margin: 10px;
}

/* Estilo para la tabla */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    margin-left: 10%;
    margin-top: 80px;
    background-color: var(--color-fondo);
    border: 1px solid var(--color-borde);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para las celdas de la tabla */
table, th, td {
    border: 1px solid var(--color-borde);
    padding: 12px;
    text-align: left;
}

/* Estilo para los encabezados de columna */
th {
    background-color: var(--color-boton-hover);
    color: white;
}

/* Estilo para las filas alternas */
tr:nth-child(even) {
    background-color: var(--color-fila1);
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
    background-color: var(--color-fila2);
}

  input {
    width: 100%;
  }