table {
    border-collapse: collapse;
    width: 80%;
    margin: 5px auto 50px auto;
    margin-left: 10%;
    background-color: #f5f5f5;
    border: 1px solid #d1d1d1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #d1d1d1;
    padding: 2px;
    text-align: left;
}

th, td {
    width: 100px;
}

.al {
    width: 500px;
}

th {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #f0f0f0;
}

input {
    width: 100%;
}

.agregar {
    margin: 0 auto;
    padding: 0.5em 1.5em;
}

input[type="submit"], .gen_boton {
    background-color: var(--color9);
    border: none;
    color: #fff;
    width: 80px;
}

.gen_boton {
    text-decoration: none;
    padding: 20px;
    margin: 0 auto;
    margin-left: 45%;
}

.gen_boton:hover {
    color: #fff;
}

h3 {
    text-align: center;
}

.boton2 {
    font-size: 17px;
    padding: 1em 1em;
    border: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: #1C3089;
    color: white;
    position: fixed;
    top: 170px;
    left: 35px;
    cursor: pointer;
   }
   
   .boton2:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #2445D9 0%, #2445D9 100%);
    color: white;
   }
   
   .boton2:active {
    transform: translate(0em, 0.2em);
   }

   .boton3 {
    font-size: 17px;
    padding: 1em 1.2em;
    border: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: #1C3089;
    color: white;
    /*border-radius: 4px;*/
    position: fixed;
    top: 240px;
    left: 35px;
    cursor: pointer;
   }
   
   .boton3:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #2445D9 0%, #2445D9 100%);
    color: white;
   }
   
   .boton3:active {
    transform: translate(0em, 0.2em);
   }