body {
    display: flex;
    flex-direction: column; /* Alineación vertical del cuerpo */
    align-items: center; /* Centra el contenido horizontalmente */
    background-color: #D9D9D9;
    ;
}

main {
    display: flex;
    flex-direction: row; /* Distribución horizontal de las secciones */
    justify-content: space-around; /* Espacio entre las secciones */
}

section {
    border: 1px solid #ccc;
    background-color: #ffff;
    padding: 20px;
    margin: 10px;
    align-items: center;
}
header  {
    background-color: #1E2C6C;
}