/* estilos.css */
.mi-boton {
    display: flex;
    height: var(--tokens-space-button-height-4, 48px);
    padding: 0px var(--space-5, 24px);
    justify-content: center;
    align-items: center;
    gap: var(--space-3, 12px);
    border-radius: var(--radius-4-max, 8px);
    opacity: 0.82;
    background: var(--neutral-color-neutral-alpha-4, rgba(2, 2, 52, 0.08));
}
